Desktop/IBM iot/IBM-IOT-Platform-Tutorial/tutorial1.flow
[{"id":"b1b11140.4e4ef","type":"inject","z":"81af0256.734768","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["e0337247.4179e"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"81af0256.734768","name":"","active":true,"console":"false","complete":"false","x":550,"y":60,"wires":[]},{"id":"e0337247.4179e","type":"function","z":"81af0256.734768","name":"","func":"msg.payload = msg.payload + \" IOT is FUN!!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":60,"wires":[["f2f2649a.0d0d98"]]},{"id":"cefef65c.506d68","type":"ibmiot in","z":"81af0256.734768","authentication":"apiKey","apiKey":"7dc1bb26.8a9eb4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":240,"y":280,"wires":[["368982b6.0916ce"]]},{"id":"368982b6.0916ce","type":"debug","z":"81af0256.734768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":280,"wires":[]},{"id":"8c7a048c.5c9ef8","type":"ibmiot out","z":"81af0256.734768","authentication":"apiKey","apiKey":"7dc1bb26.8a9eb4","outputType":"cmd","deviceId":"dev01","deviceType":"vDev","eventCommandType":"config","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":530,"y":400,"wires":[]},{"id":"d3cbfcd6.3eb3a8","type":"inject","z":"81af0256.734768","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"d\":{\"info\":\"?\"}}","payloadType":"json","x":260,"y":400,"wires":[["8c7a048c.5c9ef8"]]},{"id":"7dc1bb26.8a9eb4","type":"ibmiot","name":"kdt","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]